<!DOCTYPE html>
<html lang="en">
<head>
<title>PARENTS' CORNER</title>
<link href= "{{ url_for('static', filename ='keystowin.css')}}"  rel="stylesheet">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!--[if lt IE 9]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js".">
</script>

<![endif]-->
<style>
h2 {text-align: center}
</style>

</head>
<body>
 <div id="wrapper">
<header>
<h1> PARENTS' CORNER </h1>
</header>
<nav>

  <ul>

    <li><b><a href="{{url_for('views.home')}}">Home</a></li> 
    <li><a href="{{url_for('views.parents_page')}}">Parents </a></li>
    <li><a href="{{url_for('views.about_us')}}">About Us </a></li>
    <li><a href="{{url_for('auth.sign_up')}}">Sign Up</a></li>
    </b>
    </li>
</ul>

</nav>
<main>
<div id="images"></div>

<p>Computer technology is integrated every where.  More than ever, it is imperative that children 
not only know how to use computer applications but how to program computer apps too.  Learning how 
to code could lead to designing digital solutions that solves real-life problems.  Programming also
 leads to high-paying computing jobs in a field full of opportunities. </p>


<table>
<tr class="altrow">
 <th>For Who?</th>
 <td>This program assist low-income students between age 8-11
</td>
 </tr>
<tr>
  <th>Intro to Coding</th>
   <td>This program offers free computer science foundational 
concepts, tutorials, and coding challenges on Saturday.
  
    </td>
</tr>
<tr class="altrow">
<th>Delicious Lunch</th>
 <td>This program also provides a digital gift card per week for each student participant redeemable at 
 participating restaurants for lunch.
. </td>
</tr>
</table>
<p> To learn more or to see if your child(ren) qualify and when the next session starts please 
click the following link and fill out the form and we will be in touch.  https://www.keystowin.org/Request_form . </p>



<br>

<footer>


<p><small><i>Copyright: &copy; 2022 Keys To Win <br>  
<a href="mailto:success@keystowin.org">sucess@keystowin.org</a></small></i></p>
</footer>
</div>
</body>
</html>