* { box-sizing: border-box; }
header, nav, main, footer { display: block; }
body {
      background-color: radial-gradient(#ffffff, yellow);
      font-family: Helvetica, Arial, sans-serif 
	  
  
}
#wrapper { 
	       background-color:#ffffb1;
           width: 100%;
           margin-right: auto;
		   margin-left: auto;
           min-width: 900px;
		   max-width: 1280px;
		   box-shadow: 10px 10px 10px 10px #555555; 
}
header { background-color: cyan;
        height: 200px;
		text-align: center;
		background-repeat: no-repeat;
}
#my_title{
	color: yellow;
	font-family: Goudy Old Style;
	font-size: 85px;
	-webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: DeepPink;
}
h1 { padding-top: 45px;
    padding-left: 220px;
	font-size: 3em; 
}

nav ul { list-style-type: none; 
       margin: 0; 
       padding: 0;}

nav { text-align: center; 
     font-weight: bold; 
	 font-size: 1.5em;
	 padding-top: 10px;
	 float: left;
	 width: 200px;
}


nav a:link { color: none; }
nav a:visited{ color: #696969; }
nav a:hover { color: #869DC7; }
nav ul { list-style-type: none;
       padding-left: 0;  }
	   
	   
	 

nav a { text-decoration: none;
       padding: 20px;
       display: block;
       background-image:  radial-gradient(cyan, #ffffff);
       border-bottom: 1px solid cyan; 
}

			   
			   
footer {  background-image:  radial-gradient(cyan, #fffeee);
        color: black;
       font-size: small;
	   font-style: italic;
	   text-align: center;
	   padding-bottom: 10px;
	   border-top: 2px #221811 solid;
}
main {padding: 0 0 2em 0;
      margin-left: 200px;
	  color: 	#87CEFA;
	  background-color: radial-gradient(cyan, #ffffff);  
}

main h2, main h3, main h4, main p, main div, main ul, main dl { padding-left: 3em; padding-right: 2em; }

h4 { background-color: cyan;
    font-size: 1.2em;
	padding-left: 10px;
	padding-bottom: 0;
	text-transform: uppercase;
	border-bottom: 1px dashed #000033;
    clear: left;}
	

.details { padding-left: 20%;
          padding-right: 20%;
		  overflow: auto;
}

.floatleft { float: left;
             padding-right: 20px;
			 padding-bottom: 20px; 
}
img { padding-left: 10px;
     padding-right: 10px;
}

		   
#images { background-image: url(images.jpg);
           background-size: 100% 100%;
           height: 174px; }


#mobile { display: inline; }
#desktop { display: none; }

@media only screen and (max-width: 768px) { 
  body { background-image: none;
         margin: 0  }
	#wrapper { width: auto;
				min-width: 0;
				margin: 0;
				padding: 0;
				box-shadow: none; 	}
	header { border-bottom: 5px solid #FEF6C2; }
	h1 { margin-top: 0;
	    margin-bottom: 1em;
		padding-top: 1em;
		padding-bottom: 1em;
		font-size: 2.5em; 	}
	nav { float: none;
	      width: auto;
		  padding-top: 0;
		  margin: 10px;
		  font-size: 1.3em; 	}
	nav li  { display: inline-block; }
	nav a { padding: 1em; 
	      width: 8em;
		  font-weight: bold;
		  border-style: none; }
	nav ul { padding: 0;
	       margin: 0; }
    #myisland, #images, #herojobs { margin: 0; padding: 0; }
	main { padding: 0;
	      margin: 0;
		  font-size: 90%; }
}
@media only screen and (max-width: 768px) {
	header { 
			height: 128px; }
	h1 { font-size: 2em;
	     text-align: center;
		 padding-left: 0; }
	nav { margin: 0; }
	nav a { display: block;
	       padding: 0.2em;
		   width: auto;
		   border-bottom: 1px solid #FEF6C2; }
	nav li { display: block; }
	main  { padding-top: 1px; }
	h2 { padding: 0.5em 0 0 0.5em;
	    margin-right: 0.5em; }
	.details { padding-left: 0; padding-right: 0; }
	#myisland, #images, #herojobs 
	{ background-image: none; height: auto; } 
	.floatleft { padding-left: 0.5em; padding-right: 0.5em; }
	#mobile { display: inline; }
	#desktop { display: none; }
}
table { margin : auto;
        width : 90%;
		border-spacing: 0;
		width: 600px;}

td, th {padding : 10px;
}
.altrow { background-color : #d2b48e;}	


#mySubmit { margin-left : 9.5em;}

audio  { display : block;
        margin-top : 1em; }



